@charset "UTF-8";

:root {
    --cor0: #8C8C8C;
    --cor1: #1a1a1a;
    --cor2: #000000;
}


body {
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
}

.image {
    text-align: center;
}


li {
    display: flex;
    justify-content: right;
    
}

a {
    color: rgba(255, 255, 255, 0.589);
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    background-color: #8C8C8C;
    padding: 10px;

}

footer {
    color: rgba(255, 255, 255, 0.459);
    text-align: left;
    padding: 10px;
}

footer a {
    text-decoration: none;
}

